<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>NSLocationAlwaysUsageDescription</key>
	<string>&apos;SniffMEET&apos;은 산책 기록을 위해 백그라운드에서의 사용자 위치 정보가 필요합니다.</string>
	<key>NSLocationWhenInUseUsageDescription</key>
	<string>&apos;SniffMEET&apos;은 산책 기록을 위해 사용자 위치 정보 권한이 필요합니다.</string>
	<key>NSMotionUsageDescription</key>
	<string>&apos;SniffMEET&apos;은 걸음 수 측정을 위해 데이터 접근 권한이 필요합니다.</string>
	<key>UIUserInterfaceStyle</key>
	<string>Light</string>
	<key>NSLocalNetworkUsageDescription</key>
	<string>&apos;SniffMEET&apos;은 P2P 연결을 지원하기 위해 로컬 네트워크 환경이 필요합니다.</string>
	<key>NSCameraUsageDescription</key>
	<string>&apos;SniffMEET&apos;은 Nearby Interaction과 ARKit을 위해 카메라 접근이 필요합니다.</string>
	<key>NSNearbyInteractionUsageDescription</key>
	<string>&apos;SniffMEET&apos;은 연결된 기기와의 거리와 방향 측정을 위해 Nearby Interaction 접근이 필요합니다.</string>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>$(GOOGLE_REVERSED_CLIENT_ID)</string>
			</array>
		</dict>
	</array>
	<key>GOOGLE_CLIENT_ID</key>
	<string>$(GOOGLE_CLIENT_ID)</string>
	<key>NOTIFICATION_SERVER</key>
	<string>$(NOTIFICATION_SERVER)</string>
	<key>NSBonjourServices</key>
	<array>
		<string>_SniffMeet._tcp</string>
		<string>_SniffMeet._udp</string>
	</array>
	<key>PUBLIC_KEY</key>
	<string>$(PUBLIC_KEY)</string>
	<key>SERVER_URL</key>
	<string>$(SERVER_URL)</string>
	<key>UIApplicationSceneManifest</key>
	<dict>
		<key>UIApplicationSupportsMultipleScenes</key>
		<false/>
		<key>UISceneConfigurations</key>
		<dict>
			<key>UIWindowSceneSessionRoleApplication</key>
			<array>
				<dict>
					<key>UISceneConfigurationName</key>
					<string>Default Configuration</string>
					<key>UISceneDelegateClassName</key>
					<string>$(PRODUCT_MODULE_NAME).SceneDelegate</string>
				</dict>
			</array>
		</dict>
	</dict>
	<key>UIBackgroundModes</key>
	<array>
		<string>remote-notification</string>
	</array>
</dict>
</plist>
